# C object files
*.o

# ISE-generated project files
RAT_CPU/_ngo/
RAT_CPU/_xmsgs/
RAT_CPU/iseconfig/
RAT_CPU/webtalk*
RAT_CPU/xlnx_auto_*
RAT_CPU/xst
RAT_CPU/*.bgn
RAT_CPU/*.bit
RAT_CPU/*.bld
RAT_CPU/*.cmd_log
RAT_CPU/*.drc
RAT_CPU/*.lso
RAT_CPU/*.ncd
RAT_CPU/*.ngc
RAT_CPU/*.ngd
RAT_CPU/*.ngr
RAT_CPU/*.pad
RAT_CPU/*.par
RAT_CPU/*.pcf
RAT_CPU/*.prj
RAT_CPU/*.ptwx
RAT_CPU/*.stx
RAT_CPU/*.syr
RAT_CPU/*.twr
RAT_CPU/*.twx
RAT_CPU/*.unroutes
RAT_CPU/*.ut
RAT_CPU/*.xpi
RAT_CPU/*.xst

RAT_CPU/*.xwbt
RAT_CPU/*.map
RAT_CPU/*.mrp
RAT_CPU/*.ngm
RAT_CPU/*.xrpt
RAT_CPU/*.html
RAT_CPU/*.csv
RAT_CPU/*.txt
RAT_CPU/*.xml

