# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# ISE Project Files
RAT_CPU/_ngo/
RAT_CPU/_xmsgs/
RAT_CPU/iseconfig/
RAT_CPU/webtalk*
RAT_CPU/xlnx_auto_*
RAT_CPU/xst
RAT_CPU/*.bgn
RAT_CPU/*.bit
RAT_CPU/*.bld
RAT_CPU/*.cmd_log
RAT_CPU/*.drc
RAT_CPU/*.lso
RAT_CPU/*.ncd
RAT_CPU/*.ngc
RAT_CPU/*.ngd
RAT_CPU/*.ngr
RAT_CPU/*.pad
RAT_CPU/*.par
RAT_CPU/*.pcf
RAT_CPU/*.prj
RAT_CPU/*.ptwx
RAT_CPU/*.stx
RAT_CPU/*.syr
RAT_CPU/*.twr
RAT_CPU/*.twx
RAT_CPU/*.unroutes
RAT_CPU/*.ut
RAT_CPU/*.xpi
RAT_CPU/*.xst

RAT_CPU/*.xwbt
RAT_CPU/*.map
RAT_CPU/*.mrp
RAT_CPU/*.ngm
RAT_CPU/*.xrpt
RAT_CPU/*.html
RAT_CPU/*.csv
RAT_CPU/*.txt
RAT_CPU/*.xml

# Binaries
ratload

# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/.deps

autoscan.log
configure.scan
config.h
config.h.in
config.log
config.status
/ratload-1

*.tar.gz
# LaTeX temporary files
*.aux
*.dvi
*.toc
README.log
   

