NET "clk" LOC = B8;
NET "rst" LOC = H13;
NET "tx" LOC = P9;
NET "rx" LOC = U6;
NET "buttons[2]" LOC = E18;
NET "buttons[1]" LOC = D18;
NET "buttons[0]" LOC = B18;
NET "seg[0]" LOC = C17;
NET "seg[1]" LOC = H14;
NET "seg[2]" LOC = J17;
NET "seg[3]" LOC = G14;
NET "seg[4]" LOC = D16;
NET "seg[5]" LOC = D17;
NET "seg[6]" LOC = F18;
NET "seg[7]" LOC = L18;
NET "sel[3]" LOC = F17;
NET "sel[2]" LOC = H17;
NET "sel[1]" LOC = C18;
NET "sel[0]" LOC = F15;
NET "switches[7]" LOC = R17;
NET "switches[6]" LOC = N17;
NET "switches[5]" LOC = L13;
NET "switches[4]" LOC = L14;
NET "switches[3]" LOC = K17;
NET "switches[2]" LOC = K18;
NET "switches[1]" LOC = H18;
NET "switches[0]" LOC = G18;
NET "leds[7]" LOC = R4;
NET "leds[6]" LOC = F4;
NET "leds[5]" LOC = P15;
NET "leds[4]" LOC = E17;
NET "leds[3]" LOC = K14;
NET "leds[2]" LOC = K15;
NET "leds[1]" LOC = J15;
NET "leds[0]" LOC = J14;
#NET "leds_dbg[5]" LOC = L17;
#NET "leds_dbg[4]" LOC = M15;
#NET "leds_dbg[3]" LOC = R15;
#NET "leds_dbg[2]" LOC = T17;
#NET "leds_dbg[1]" LOC = G13;
#NET "leds_dbg[0]" LOC = H16;